[gerrit]
	basePath = /home/gerrit2/git
	canonicalWebUrl = http://localhost:8080/
[database]
	type = h2
	database = db/ReviewDB
[index]
	type = LUCENE
[auth]
	type = OPENID
[sendemail]
	smtpServer = localhost
[container]
	user = gerrit2
	javaHome = /usr/lib/jvm/java-1.7.0-openjdk-1.7.0.65.x86_64/jre
[sshd]
	listenAddress = 2221:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
